<!DOCTYPE html>
<html lang="en">
<head>
  @include('student/layouts/header')
  @if(Env.get('NODE_ENV') == 'production')
  <script>APP_URL = "http://www.aclcbalangademo.xyz"</script>
  @else
  <script>APP_URL = "http://localhost:3333"</script>
  @endif
</head>
<style> </style>

<body>
  <div id="overlay" class=""></div>
  
  @include('student/layouts/top-bar')
  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        {{--  <h1 class="text-light"><a href="index.html"><span>ACLC Balanga</span></a></h1>  --}}
        <!-- Uncomment below if you prefer to use an image logo -->
         <a href="/"><img src="/aclc_logo.png" alt="" class="img-fluid"></a>
      </div>

      @include('student/layouts/nav-menu')

    </div>
  </header><!-- End Header -->

  @!section('content')

  @!section('javascripts')

  @include('student/layouts/footer')
</body>

</html>
